.background-screen {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: $c-dark;
  transition: height 0.5s ease;
}

.screen--prizes.active ~ .background-screen,
.screen--game.active ~ .background-screen,
.screen--result.active ~ .background-screen,
.screen--rules.active ~ .background-screen {
  height: 100%;
}
